.navbar-nav {
    margin-top: 10px;
    background-color: #f8f9fa;
}

.nav-bar {
  padding-left: 50px;
  background: linear-gradient(90.41deg, rgba(3, 106, 255, 0.3) 0.31%, rgba(103, 61, 226, 0.3) 51.52%, rgba(105, 121, 248, 0.3) 99.1%);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.transparent-background {
  background: transparent;
}

.navbar-link {
  margin-right: 50px;
  color: black;
  /* border-bottom: solid 5px #7048E8;
  width: 77px; */
}
.nav-underline {
  margin-top: 5px;
  margin-bottom: -20px;
  border-bottom: solid 5px #7048E8;
  width: 70px;

}
/* .nav-underline:hover {
  margin-top: 5px;
  margin-bottom: -20px;
  border-bottom: solid 5px #7048E8;
  width: 77px;
  visibility: visible;
} */

.navbar-link:hover {
  color: white;
}

.navbar-logout:hover {
  color: red;
}

@media (max-width: 767px){
    .navbar-nav:last-child {
        background-color: #f8f9fa;
        box-shadow: none;
        padding-top: 0;
    }
}