.onboarding {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F5D8DD;
}

.onboarding > Form {
  width: 25%;
  margin: auto;
  position: relative;
  top: 10%;
}

.onboarding label {
  color: grey;
  font-size: 14px;
}

.onboarding input {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.age-select {
  height: 40px;
  width: 50%;
}

.age-select > MenuItem {
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.interest {
  margin: auto;
  height: 150px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest > img {
  position: absolute;
  filter: brightness(70%);
  height: 100%;
  width: 100%;
}

.interest > p {
  position: absolute;
  flex: 0 0 120px;
  z-index: 10;
  color: white;
  font-weight: bold;
}





/* Step2 */
@media (max-width: 950px) {
  Form > div > .row {
    flex-wrap: nowrap;
  }
}
@media (min-width: 740px) and (max-width: 784px) {
  .onboarding > Form {
    width: 40%;
    margin: auto;
    position: relative;
    top: 10%;
  }
}
@media (min-width: 600px) and (max-width: 740px) {
  .onboarding > Form {
    width: 45%;
    margin: auto;
    position: relative;
    top: 10%;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .onboarding > Form {
    width: 50%;
    margin: auto;
    position: relative;
    top: 10%;
  }
}
@media (max-width: 499px) {
  .onboarding > Form {
    width: 65%;
    margin: auto;
    position: relative;
    top: 10%;
  }
}


/* Step3 */
.instructor-card-post-time {
  color: charcoal;
  font-size: 12px;
  margin-top: 0px;
}
.instructor {
  /* border: 1px solid transparent */
  /* border: 1px solid #000000; */
  background-color: rgba(216, 216, 216, 0.4);
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 7px;
}
.instructor-card-poster-picture-container {
  padding-right: 0px;
  margin: 10px 10px;
}

.instructor-card-poster-picture {
  width: 50px;
  height: 50px;
  margin-right: 0px;
}
.instructor-card-poster-info {
  padding-top: 13px;
  padding-left: 0px;
  margin-left: inherit;
}
Form > div > .instructor {
  flex-wrap: nowrap;
}