.profile-picture {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin-right: 60px;
}

.profile-info {
  margin-top: 30px;
  font-weight: 'normal';
  display: 'flex';
}

.profile-info p {
  font-size: 18px;
  padding-right: 10px;
}

.profile-number {
  font-weight: bold;
}
