.profile-row {
  margin-top: 100px;
  padding-left: 100px;
}

.profile-picture {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin-right: 60px;
}

.profile-info {
  margin-top: 30px;
  margin-left: 0px;
  font-weight: 'normal';
  display: 'flex';
}

.profile-info p {
  font-size: 18px;
  padding-right: 10px;
}

.profile-number {
  font-weight: bold;
}

.profile-feed-container {
  width: 50%;
  margin: 0 auto;
}
